.button {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: var(--radius-16);
   padding: var(--space-75) var(--space-150);
   border: none;
   user-select: none;
   white-space: nowrap;
   background-color: var(--btn-bg);

   &.primary {
      background: var(
         --primary,
         linear-gradient(113deg, #489aff 4.51%, #1253ff 91.83%)
      );
      color: var(--white);
   }

   &.simple {
      background: var(--white);
      box-shadow: 0 18px 40px 0 #7090b01f;
   }

   &.rounded {
      border-radius: var(--radius-100);
      height: var(--space-300);
      width: var(--space-300);
      padding: 0;
   }
}

@include light-mode {
   .button {
      &.primary {
         box-shadow:
            0 0.3px 4px 0 rgba(140, 169, 255, 0.04),
            0 0.7px 7px 0 rgba(140, 169, 255, 0.08),
            0 1.5px 12px 0 rgba(140, 169, 255, 0.14),
            0 3.2px 17.3px 0 rgba(140, 169, 255, 0.23),
            0 9px 24px 0 rgba(140, 169, 255, 0.45);
      }
   }
}
